#section-logo .container,
#section-header .container,
#section-sub-header .container,
#section-content .container{
	border-left: 10px solid white !important; 
	border-right: 10px solid white !important;
	background: white !important;
	border-top: 10px solid white;
}